.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: gainsboro;
}

button {
  padding-inline: 2em;
  padding-block: 1em;
  margin: 2em;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button1 {
  background-color: #262d35;
  border: none;
  cursor: pointer;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Auguri {
  font-size: larger;
  font-weight: 700;
}

.antiNatale {
  list-style: none;
  color: palevioletred;
  text-align: center;
}

&::-webkit-scrollbar {
  width: 12px; /* Larghezza della scrollbar per i browser WebKit (Chrome/Safari) */
}

&::-webkit-scrollbar-thumb {
  background-color: #262d35; /* Colore della barra */
  border-radius: 6px; /* Bordo arrotondato della barra */
}

&::-webkit-scrollbar-track {
  background-color: #ffffff; /* Colore dello sfondo */
}
span {
  font-style: italic;
  font-size: smaller;
}

blockquote {
  font-size: small;
  font-style: italic;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
