.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: gainsboro;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(116, 177, 143);
}

button {
  padding-inline: 2em;
  padding-block: 1em;
  margin: 2em;
}
.button1 {
  background-color: #61dafb;
  border: none;
  cursor: pointer;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Auguri {
  font-size: larger;
  font-weight: 700;
}

.antiNatale {
  list-style: none;
  color: palevioletred;
  text-align: justify;
}
